# Directory da ignorare
/data/
/venv_PPCalculator/
/src/

# File Python comuni da ignorare
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# File di ambiente
.env
.venv
env/
venv/
ENV/

# File di cache
.cache
.pytest_cache/